[submodule "external/SDL_ttf"]
	path = external/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/webrogue_rs"]
	path = external/webrogue_rs
	url = https://github.com/webrogue-runtime/webrogue_rs.git
